@font-face {
  font-family: 'Aeroport';
  src: url('../assets/fonts/Aeroport.woff') format('woff'),
       url('../assets/fonts/Aeroport.woff2') format('woff2');
}

$font-main: 'Aeroport', sans-serif;