.notransition * {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: color 0 ease-in !important;
  transition: none !important;
}

$breakpoints: ("smartphone-minus": 480px,
  "smartphone": 780px,
  "smartphone-plus": 840px,
  "tablet": 1024px,
  "small": 1280px,
  "normal": 1440px,
  "normal-plus": 1600px,
  "large": 2800px,
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    +"Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin abs-block() {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

@mixin font-s() {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

@mixin font-m() {
  font-size: 1.6rem;
  line-height: 2rem;
}

@mixin font-l() {
  font-size: 2.1rem;
  line-height: 2.5rem;
}

@mixin font-xl() {
  font-size: 2.8rem;
  line-height: 3.2rem;
}

$paddings: 40px;
$paddings-mob: 20px;

// .... SHORT CLASSESS .................................................................................................

.txt-upper {
  text-transform: uppercase;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

strong {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.flex--w {
  flex-wrap: wrap;
}

.flex-line-break {
  width: 100% !important;
  margin: 0 !important;
}

input:focus {
  outline-style: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

// .... BASE ...........................................................................................................

html {
  font-size: 10px;
}

body {
  font-family: $font-main;
  color: black;
  scroll-behavior: smooth;
}

div {
  box-sizing: border-box;
}

ul {
  margin: 0;

  &.one-row li {
    display: inline-block;
  }

  &.no-style {
    list-style: none;
    padding: 0;
  }
}

a {
  transition:
    color 0.3s,
    background-color 0.3s,
    opacity 0.3s;
  border: 0;
  text-decoration: none;

  &.basic {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &.u-hover:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

p+p {
  margin-top: 2rem;
}

a {
  color: black;
}

img {
  vertical-align: bottom;
}

.txt-content {
  a {
    display: inline-block;
    border-bottom: 1px #000 solid;
    padding-bottom: 2px;
  }
}

._disabled {
  opacity: 0.5;
  pointer-events: none;
}

body {
  font-family: $font-main;
}

.all-wrap {
  // max-width: 1620px;
  // margin: 0 auto;
  margin: 0 40px;

  @include respond-to("normal-plus") {
    margin: 0 $paddings;
  }

  @include respond-to("smartphone") {
    padding: 68px 20px 0;
    margin: 0;
    padding-top: 68px;
    overflow: hidden;
  }
}

.white-theme .header,
.header.--white-state {
  color: white;

  a {
    color: white;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: $paddings;
    width: calc(100% - $paddings - $paddings);
    height: 1px;
    background-color: #fff;
    z-index: 1;
  }

  .header__menu ._mob-icon:before,
  .header__menu ._mob-icon:after,
  .header__menu ._mob-icon span {
    background: white;
  }

  @include respond-to("smartphone") {
    &:before {
      background-color: transparent;
    }

    &:after {
      left: $paddings/2;
      width: calc(100% - $paddings/2 - $paddings/2);
    }
  }
}

.header.--white-state.--with-menu {
  color: black;

  a {
    color: black;
  }

  .header__menu ._mob-icon:before,
  .header__menu ._mob-icon:after,
  .header__menu ._mob-icon span {
    background: black;
  }
}

.white-theme .footer {
  border-top-color: white;
  color: white;

  a {
    color: white;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  @include font-l();
  text-transform: uppercase;
  padding: 14px 40px;
  // margin-bottom: 18px;
  position: relative;
  margin: 0 -40px 18px;

  &__title {
    text-align: center;
  }

  &__menu {
    text-align: right;

    span {
      cursor: pointer;
    }

    ._mob-icon {
      display: none;
    }

    @include respond-to("smartphone") {
      ._desk {
        display: none;
      }

      ._mob-icon {
        transform: translateY(1px);
        display: inline-block;
        width: 27px;

        &:before,
        &:after,
        span {
          background: #000;
          content: "";
          display: block;
          height: 1px;
          margin: 4px 0;
          transition: 0.5s;
        }
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: $paddings;
    width: calc(100% - $paddings - $paddings);
    height: 1px;
    background-color: black;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s ease;
  }

  >div {
    position: relative;
    z-index: 5;
  }

  @include respond-to("smartphone") {
    padding: 14px 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100%);
    box-sizing: border-box;
    z-index: 10;
    margin: 0 0 18px;

    &:before {
      background-color: white;
    }

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
      z-index: 10;
    }
  }
}

.header.--with-menu {
  &:before {
    background-color: #fff;
  }

  &:after {
    display: none;
  }

  .menu {
    bottom: -274px;
    opacity: 1;

    @include respond-to("smartphone") {
      bottom: -272px;
    }
  }
}

.header-after {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  position: relative;
  z-index: 1;

  &__back {
    text-align: left;

    @include respond-to("smartphone") {
      display: none;
    }
  }

  @include respond-to("smartphone") {
    max-width: 200px;
    margin: 0 auto;
    line-height: 1.8rem;

    &--ex {
      max-width: 220px;
    }
  }

  &--artist {
    display: flex;
    justify-content: space-between;
    color: white;

    a {
      color: white;
    }

    >div {
      width: 33.3%;
    }

    @include respond-to("smartphone") {
      display: block;

      >div {
        width: 100%;
      }
    }
  }
}

[data-menu-trigger] {
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 20px 0;
  border-top: 1px #000 solid;

  &__menu ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__copy {
    text-align: right;
    opacity: 0.5;
  }

  @include respond-to("smartphone") {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "l r";

    &__menu {
      grid-area: header;
      margin-bottom: 48px;

      ul {
        flex-wrap: wrap;
        padding: 0 40px;
        row-gap: 4px;
        column-gap: 10px;
      }
    }
  }
}

.about {
  height: calc(100vh - 53px - 18px - 57px);
  position: relative;

  @include respond-to("smartphone") {
    height: auto;
    min-height: calc(100vh - 68px - 141px);
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    transform: translate(-350px, -50%);
    text-align: left;
    @include font-m();

    @include respond-to("smartphone") {
      padding: 40px 0;
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      width: 100%;
      @include font-m();
    }
  }
}

.contacts {
  height: calc(100vh - 53px - 18px - 57px);
  position: relative;

  @include respond-to("smartphone") {
    height: auto;
    min-height: calc(100vh - 68px - 141px);
  }

  &__texts {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    transform: translate(-350px, -50%);
    text-align: center;

    @include respond-to("smartphone") {
      padding: 40px 0;
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      width: 100%;
    }
  }

  &__block-1 {
    @include font-l();
    margin-bottom: 40px;

    @include respond-to("smartphone") {
      padding-top: 60px;
    }
  }

  &__block-2 {
    @include font-m();
  }
}

.artists-hover-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  // background-color: black;
  background-size: cover;
  background-position: center;
}

.artists {
  height: calc(100vh - 53px - 18px - 57px);
  position: relative;

  @include respond-to("smartphone") {
    height: auto;
  }

  &.--hovered {
    .header-after {
      color: white;
    }

    .artists__list {
      a {
        color: white;
      }
    }
  }

  .header-after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include respond-to("smartphone") {
      position: relative;
    }
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
    text-transform: uppercase;
    @include font-l();

    @include respond-to("smartphone") {
      margin: 80px 0;
      position: relative;
      top: 0;
      transform: none;
    }
  }

  &__art {
    img {
      // transition: opacity .3s ease-in;
      // opacity: 0;
    }

    display: none;
    margin-bottom: 200px;
    padding: 36px 0;
    border-top: 1px #000 solid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 36px;
    grid-row-gap: 68px;
    row-gap: 68px;
    grid-column-gap: 36px;
    column-gap: 36px;

    &__img {
      max-width: 100%;
    }

    &__title {
      padding: 14px 0 0;
      font-size: 1.6rem;
      text-align: center;
    }

    @include respond-to("smartphone") {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 100px;
      grid-gap: 48px;
      padding: 20px 0;
    }
  }
}

.artist-menu {
  display: flex;
  justify-content: center;
  gap: 9px;

  span {
    cursor: pointer;
  }
}

.exh-page {
  &__name {
    margin: 120px 0;
    text-align: center;
    text-transform: uppercase;
    @include font-l();

    @include respond-to("smartphone") {
      margin: 80px 0;
    }
  }
}

.exh-page__main-photo {
  img {
    width: 100%;
  }

  @include respond-to("smartphone") {
    margin: 0 -20px;
  }
}

.exh-page__about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 44px;
  margin-top: 32px;
  margin-bottom: 120px;
  @include font-m();

  >div+div {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -22px;
      width: 1px;
      height: calc(100% - 2px);
      background-color: #000;
    }
  }

  &__params {
    margin-bottom: 60px;
    margin-top: -3px;

    ._catalogue {
      margin-top: 20px;

      a {
        border-bottom: 1px solid;
      }
    }
  }

  ._ava {
    max-width: 120px;
    margin-bottom: 8px;
  }

  ._cv {
    margin-top: 16px;

    a {
      border-bottom: 1px #000 solid;
    }
  }

  ._mob-label {
    display: none;
  }

  ._text {
    padding-right: 40px;
    margin-top: -3px;
  }

  @include respond-to("smartphone") {
    grid-template-columns: 1fr;
    grid-gap: 70px;

    ._ava {
      display: none;
    }

    ._mob-label {
      display: block;
    }

    ._text {
      padding-right: 0;
      margin: 0;
      padding-top: 26px;
      border-top: 1px black solid;
    }

    &__params {
      margin-bottom: 20px;

      >div>span {
        display: block;
      }

      div+div {
        margin-top: 20px;
      }
    }

    >div+div {
      &:before {
        display: none;
      }
    }

    ._artist-link {
      display: none;
    }
  }
}

.exh-page__how-was-it {
  position: relative;

  &__title {
    @include font-s();
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 32px;
    // border-bottom: 1px #000 solid;
    // margin-bottom: 32px;
  }

  &__slider {
    width: 60%;
    margin: 0 auto 60px;
    position: relative;
    cursor: none;

    .agile__list {
      overflow: visible !important;
    }

    .agile__actions {
      position: absolute;
      top: 0;
      width: 100vw;
    }

    @include respond-to("smartphone") {
      width: 80%;
      margin-bottom: 12px;
      // margin: 0 -20px 60px;
    }
  }
}

.exh-page__mob-slider-info {
  display: none;

  @include respond-to("smartphone") {
    display: block;
    margin-bottom: 60px;
    @include font-s();
    text-align: center;
  }
}

.exh-slider-slide {
  text-align: center;
  padding: 0 20px;
  height: 400px;

  img {
    // width: 70%;
    max-width: 100%;
    max-height: 100%;

    @include respond-to("smartphone") {
      width: 85%;
    }
  }
}

.slider-nav {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  z-index: 10;
  cursor: none;

  &__btn {

    display: flex;
    align-items: center;
    justify-content: center;
    @include font-s();
    position: relative;
    overflow: hidden;

    &:hover {
      // background-color: #f00;
    }

    ._cursor {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      gap: 16px;
      min-width: 120px;
      opacity: 0;
      transition: opacity 0.12s ease-in;
      transform: translate(-25%, -40px);

      svg {
        width: 50px;
      }
    }

    &--left {
      &:hover {
        ._cursor--left {
          opacity: 1;
        }
      }
    }

    &--right {
      &:hover {
        ._cursor--right {
          opacity: 1;
        }
      }
    }
  }

  @include respond-to("smartphone") {
    display: none;
  }
}

.artist-page {
  &__head {
    background-size: cover;
    background-position: center;
    height: calc(100vh);
    width: calc(100% + $paddings + $paddings);
    margin: 0 -40px;
    transform: translateY(-87px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__start-art {
      position: absolute;
      bottom: $paddings;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      @include font-s();

      ._row-1 {
        text-transform: uppercase;
      }
    }

    @include respond-to("smartphone") {
      width: calc(100% + $paddings/2 + $paddings/2);
      margin: 0 -1 * $paddings/2;
      transform: translateY(-18px - 53px - 18px);
    }
  }

  &__name {
    text-align: center;
    text-transform: uppercase;
    @include font-xl();
    color: white;

    @include respond-to("smartphone") {
      margin: 80px 0;
    }
  }

  &__art {
    margin-bottom: 200px;
    margin-top: -87px;

    &__title {
      @include font-s();
      text-transform: uppercase;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px #000 solid;

      @include respond-to("smartphone") {
        line-height: 1;
      }
    }

    &__items {
      padding: $paddings 0;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: $paddings;
      grid-row-gap: 68px;
      row-gap: 68px;
      grid-column-gap: $paddings;
      column-gap: $paddings;

      ._title {
        padding: $paddings/2 0 0;
        @include font-s();
        text-align: center;

        ._row-1 {
          text-transform: uppercase;
        }

        ._row-2 {
          opacity: 0.5;
        }
      }

      @include respond-to("smartphone") {
        grid-template-columns: 1fr;
        padding: $paddings/2 0;
        grid-row-gap: 40px;
        row-gap: 40px;

        >._work {
          // display: flex;
          width: 100%;
          // flex-direction: column-reverse;
        }

        ._title {
          padding: $paddings/2 0 0;
        }
      }
    }

    img {
      transition: opacity 0.3s ease-in;
      opacity: 0;
      cursor: pointer;
    }

    &__img {
      max-width: 100%;
    }

    @include respond-to("smartphone") {
      grid-template-columns: 1fr;
      margin-bottom: 60px;
      grid-gap: 48px;
      padding: 0;
      margin-top: -18px - 53px - 18px;
    }
  }

  &__bio {
    margin-bottom: 120px;

    &__title {
      @include font-s();
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 17px;
      border-bottom: 1px #000 solid;
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 44px;
      margin-top: 22px;

      >div+div {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -22px;
          width: 1px;
          height: calc(100% - 2px);
          background-color: #000;
        }
      }

      ._name {
        @include font-s();
        margin-top: 10px;
        opacity: 0.6;
      }

      ._text {
        @include font-m();
        padding-right: 40px;
        margin-top: -3px;
      }
    }

    @include respond-to("smartphone") {
      margin-bottom: 100px;

      &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 80px;

        >div+div {
          &:before {
            display: none;
          }
        }

        ._ava {
          width: 100%;
        }

        ._text {
          padding-right: 0;
        }
      }
    }
  }

  &__inter {
    margin-bottom: 120px;

    &__title {
      @include font-s();
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 17px;
      border-bottom: 1px #000 solid;
    }

    &__content {
      margin-top: 22px;

      >div+div {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -22px;
          width: 1px;
          height: calc(100% - 2px);
          background-color: #000;
        }
      }

      ._name {
        @include font-s();
        margin-top: 10px;
        opacity: 0.6;
      }

      ._text {
        @include font-m();
        padding-right: 40px;
        margin-top: -3px;
      }
    }

    @include respond-to("smartphone") {
      margin-bottom: 100px;

      &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 80px;

        >div+div {
          &:before {
            display: none;
          }
        }

        ._ava {
          width: 100%;
        }

        ._text {
          padding-right: 0;
        }
      }
    }
  }

  &__ex {
    position: relative;
    @include font-s();

    // &:before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: -1 * $paddings;
    //   width: calc(100% + #{$paddings} + #{$paddings});
    //   height: calc(100% + 57px);
    //   background-color: #eee;
    //   z-index: -1;
    // }

    &__title {
      text-transform: uppercase;
      text-align: center;
      padding: 20px 0 18px;
    }

    &__list {
      border-top: 1px #000 solid;
      padding-bottom: 120px !important;

      li {
        padding: 10px 0;
        border-bottom: 1px #000 solid;
        display: flex;
        justify-content: space-between;
        transition: all 0.2s ease-in;

        &:nth-child(n + 11) {
          display: none;
        }
      }

      ._year {
        margin-right: 6px;
      }
    }

    &__more {
      display: flex;
      justify-content: center;
      padding-bottom: 120px !important;
    }

    &.--all {
      .artist-page__ex__list li {
        &:nth-child(n + 11) {
          display: flex;
        }
      }
    }

    @include respond-to("smartphone") {
      &:before {
        left: -1 * $paddings-mob;
        width: calc(100% + #{$paddings-mob} + #{$paddings-mob});
        height: calc(100% + 141px);
      }

      &__list {
        padding-bottom: 80px !important;

        li:nth-child(n + 6) {
          display: none;
        }

        ._year {
          margin: 0 0 0 20px;
        }
      }

      &__more {
        padding-bottom: 80px !important;
      }
    }
  }
}

.painting-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 380px 1fr;
  padding: 0 $paddings;

  &__left {
    position: relative;
    padding-top: $paddings;
    padding-right: $paddings;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: black;
    }

    &__artist-name {
      text-align: center;
      @include font-m();
      text-transform: uppercase;
    }

    &__title {
      margin-top: $paddings;
      text-align: center;
      @include font-m();
    }

    &__params {
      text-align: center;
      opacity: 0.5;
      @include font-m();
    }

    &__exh-info {
      bottom: 120px;
      left: 0;
      position: absolute;
      @include font-m();
      border-top: 1px black solid;
      width: calc(100% - $paddings);
      padding-top: 20px;
    }

    &__exh-link {
      position: absolute;
      left: 0;
      bottom: $paddings;
      @include font-m();

      a {
        border-bottom: 1px solid;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

    img {
      display: block;
      max-width: 60%;
      max-height: 60%;
    }

    &__nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;

      .slider-nav {
        left: 40px;
        width: calc(100% - 40px);
      }

      // ._left,
      // ._right {
      //   cursor: pointer;

      //   &:hover {
      //     background-color: rgba(0, 0, 0, 0.09);
      //   }
      // }
    }
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
  }

  @include respond-to("smartphone") {
    z-index: 100;
  }
}

.btn {
  @include font-s();
  display: inline-flex;
  padding: 10px 20px;
  border: 1px #000 solid;
  border-radius: 8px;
  cursor: pointer;
}

.index-title {
  margin: 120px 0;
  text-align: center;
  text-transform: uppercase;
  @include font-l();

  @include respond-to("smartphone") {
    margin: 80px auto;
    max-width: 300px;

    span {
      display: block;
    }
  }
}

.index-ex-text {
  @include font-l();
  text-align: center;
  max-width: 800px;
  margin: 180px auto 140px;

  a {
    display: inline-block;
    border-bottom: 1px #000 solid;
    padding-bottom: 2px;
  }

  @include respond-to("smartphone") {
    margin: 20px auto 100px;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: left;
  }
}

.index-slider {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("@/assets/Exhibition_1.jpg");
  min-height: 800px;
  margin: 0;

  @include respond-to("normal-plus") {
    margin: 0 -1 * $paddings;
  }

  img {
    max-width: 100%;
  }

  @include respond-to("smartphone") {
    margin: 0 -20px;
    min-height: 460px;
  }
}

.index-artists {
  margin-bottom: 80px;

  &__title {
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 20px;
    border-bottom: 1px #000 solid;
    margin-bottom: 20px;

    @include respond-to("smartphone") {
      margin-bottom: 76px;
      padding: 0 0 16px;
    }
  }

  &__names {
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;

    ul {
      display: flex;
      justify-content: center;
      gap: 10px;

      li {
        cursor: pointer;
        position: relative;

        ._h {
          &:hover {
            &:after {
              content: "";
              position: absolute;
              bottom: -4px;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: #000;
            }
          }
        }

        a {
          display: none;
        }
      }

      @include respond-to("smartphone") {
        display: block;
        text-transform: uppercase;
        @include font-l();

        li {
          ._h {
            display: none;
          }

          a {
            display: inline-block;
          }
        }
      }
    }
  }

  &__art {
    margin: 80px 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;

    >div {
      position: relative;
      height: 300px;
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      // position: absolute;
      max-width: 400px;
      height: 300px;
      opacity: 1;
      transition: opacity 0.3s ease-in;

      &.hidden {
        opacity: 0;
        display: none;
      }
    }

    @include respond-to("smartphone") {
      display: none;
    }
  }
}

/* .. EXHIBITIONS .............. */

.exhibitions {
  margin: 200px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 36px;
  grid-row-gap: 68px;
  row-gap: 68px;
  grid-column-gap: 36px;
  column-gap: 36px;

  &__item {
    &__img {
      max-width: 100%;
    }

    &__title {
      padding: 14px 0 0;
      font-size: 1.6rem;
      text-align: center;
    }
  }

  @include respond-to("smartphone") {
    grid-template-columns: 1fr;
    margin: 100px 0;
    grid-gap: 48px;
    padding: 20px 0;
  }
}

/* .. CATALOGUE ................ */

.catalogue {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  row-gap: 100px;
  margin: 120px 0;

  img {
    max-width: 100%;
  }

  &__item {
    @include font-s();
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0px;

    &__name {
      margin: 20px 0 0;
      text-align: center;
      text-transform: uppercase;
    }

    &__info {
      text-align: center;
      padding-top: 20px;
      opacity: 0;
      transition: opacity .3s ease-in;
    }

    &:hover {
      .catalogue__item__info {
        opacity: .5;
      }
    }

    &:first-child {

      // justify-content: flex-start;
      ._shift.v-correct-100 {
        // width: 100% !important;
      }

      ._shift.v-correct-40 {
        // width: 40% !important;
      }
    }

    &:nth-child(5) {
      ._shift {
        // margin-top: var(--topMargin);
        // margin-top: -70%;
      }
    }

    &:nth-child(3n - 1) {
      ._shift {
        // margin-top: var(--topMargin);
        // width: 50% !important;
        // margin-top: -70%;
      }
    }

    &:nth-child(3n + 1) {

      // justify-content: flex-start;
      ._shift.v-correct-100 {
        // width: 100% !important;
      }

      ._shift.v-correct-40 {
        // width: 40% !important;
      }
    }

    &:nth-child(3n) {

      // justify-content: flex-end;
      ._shift.v-correct-100 {
        // width: 100% !important;
      }

      ._shift.v-correct-40 {
        // width: 40% !important;
      }
    }
  }

  @include respond-to("smartphone") {
    margin: 60px 0;
    grid-template-columns: 1fr;

    .catalogue__item__info {
      opacity: .7;
    }
  }
}

.menu {
  position: absolute !important;
  bottom: -1px;
  left: 0;
  width: calc(100%);
  height: auto;
  border-bottom: 1px #000 solid;
  z-index: 2 !important;
  opacity: 0;
  padding: 0 40px 12px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;

  &__items {
    margin: 40px 0;
    text-align: center;
    @include font-l();
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-transform: none;

    &__address {
      text-align: center;
    }

    &__inst {
      text-align: right;
    }

    @include respond-to("smartphone") {
      grid-template-columns: 1fr 1fr;

      &__address {
        display: none;
      }

      &__langs {
        text-transform: none;
      }

      &__inst {
        text-transform: none;
      }
    }
  }

  @include respond-to("smartphone") {
    // border-bottom: 0;
    padding: 0 20px 12px;

    &__items {
      margin: 36px 0 40px;
    }
  }
}

.close-button {
  width: 40px;
  height: 40px;
  // opacity: 0.3;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    left: 20px;
    content: " ";
    height: 41px;
    width: 1px;
    background-color: #000;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

img[lazy="loading"] {
  transition: opacity 0.9s ease-in;
  opacity: 0;
}

img[lazy="loaded"] {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.video-preview {
  background-position: center;
  background-size: cover;
  min-height: 550px;
  position: relative;
  cursor: none;
  overflow: hidden;

  ._play {
    position: absolute;
    height: 60px;
  }
}