<template>
  <div class="about">
    <div class="about__text">
      <p>
        159F Gallery pursues partnerships with international museum
        organizations and foundations that support contemporary art in order to
        discover new names. Such discoveries not only enrich the collection with
        sophisticated imagery but also add distinctive new concepts. The Gallery
        supports both young and mid-career artists.
      </p>
      <p>
        A formative value for 159F Gallery is to establish cross-cultural
        connections across the world, engaging artists, galleries, museums and
        institutions. The Gallery focuses on development of hybrid educational
        projects that offer a balance between accessibility and fundamental
        knowledge.
      </p>
      <p>
        The educational mission of 159F Gallery is guided by the principles of
        direct and engaged dialogue between artists and learners. The gallery
        team also recognizes the need to foster a community of authors, artists,
        curators and a wider audience of people who regard art as an integral
        part of their lives.
      </p>
    </div>
  </div>
</template>
