<template>
  <div :class="{ artists: true, '--hovered': activeArtist > 0 }">
    <div
      v-if="activeArtist"
      class="artists-hover-bg"
      :style="{
        backgroundImage: `url(${require(
          `@/assets/samples/paints/${artistStartPhoto}`,
        )})`,
      }"
    ></div>
    <div class="header-after">
      Our gallery represents the following artists:
    </div>
    <div class="artists__list">
      <div v-for="artist in artists" :key="artist.id">
        <router-link
          :to="'/artists/' + artist.url"
          @click="highlightArtist(0)"
          @mouseover="highlightArtist(artist.id)"
          @mouseout="highlightArtist(0)"
        >
          {{ artist.name }}
        </router-link>
      </div>
    </div>
    <div class="artists__art">
      <div v-for="artist in artists" :key="artist.id">
        <img
          class="artists__art__img"
          :src="require('@/assets/art/Art_1.jpg')"
        />
        <div class="artists__art__title">{{ artist.name }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ArtistsView",
  components: {},
  data() {
    return {
      activeArtist: 0,
    }
  },
  computed: {
    artists() {
      return this.$store.state.artists
    },
    artistStartPhoto() {
      return this.artists.find((item) => {
        return item.id == this.activeArtist
      }).startPhoto
    },
  },
  methods: {
    highlightArtist(id) {
      this.activeArtist = id
      if (id) this.$emit("artist-hover")
      else this.$emit("normal-state")
    },
  },
}
</script>
