<template>
  <div class="artist">
    <div class="header-after header-after--artist">
      <div class="header-after__back">
        <router-link to="/artists">Back to Artists</router-link>
      </div>
      <div class="artist-menu">
        <span @click="scrollToBlock('works')">Works</span>
        <span @click="scrollToBlock('bio')">Biography</span>
        <span @click="scrollToBlock('exh')">Exhibitions</span>
      </div>
      <div></div>
    </div>
    <div class="artist-page">
      <div
        class="artist-page__head"
        :style="{
          backgroundImage: `url(${require('@/assets/samples/paints/Start.jpg')})`,
        }"
      >
        <div class="artist-page__name">{{ artistInfo.name }}</div>
        <div class="artist-page__head__start-art">
          <div class="_row-1">Waves</div>
          <div class="_row-2">2020, Argalit, acril, 100x150cm</div>
        </div>
      </div>

      <div class="artist-page__art" data-scroll-anchor="works">
        <div class="artist-page__art__title">Works</div>
        <div class="artist-page__art__items">
          <div v-for="paint in paints" :key="paint.id" class="_work">
            <img
              class="artist-page__art__img"
              v-lazy="
                require(`@/assets/samples/paints/paint-${paint.id - 1}.jpg`)
              "
              alt=""
              @click="openPaintingInfo(paint.id)"
            />
            <div class="_title">
              <div class="_row-1">
                {{ paint.name }}
              </div>
              <div class="_row-2">
                {{ paint.params }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="artist-page__bio" data-scroll-anchor="bio">
        <div class="artist-page__bio__title">BIOGRAPHY</div>
        <div class="artist-page__bio__content">
          <div>
            <img class="_ava" :src="require('../assets/artist-ava.png')" />
            <div class="_name">
              {{ artistInfo.name }}
            </div>
          </div>
          <div>
            <div class="_text txt-content">
              <p>
                {{
                  `Olaf Otto Becker’s first project, Under the Nordic Light (2005)
                  documented the dramatic landscape of Iceland.
                  His subsequent project Broken Line (2003-2006),
                  explored the effects of global warming on the coastal landscape
                  of Greenland and the glaciers that form there. The project took him on a 4000km journey along the west coast of Greenland alone in a rubber zodiac raft, documenting the landscape with a large format camera. The artist claims, ‘I was interested in a wild, unspoiled landscape. I was interested in a place where the landscape developed on its own.’ In this series, Becker surveys the relationship between the fragile arctic landscapes and the people who live and work there, presenting the immense architectural-like summits of the western coast of Greenland.`
                }}
              </p>
              <p>
                {{
                  `Similarly, his following project, Reading the Landscape continues his exploration of environmental concerns focused on ravaged rainforests and the effects of deforestation, this time over a range of Asiatic geographies – Malaysia, Borneo and Singapore. Greenland and the glaciers that form there. The project took him on a 4000km journey along the west coast of Greenland alone in a rubber zodiac raft, documenting the landscape with a large format camera. The artist claims, ‘I was interested in a wild, unspoiled landscape.`
                }}
                <!-- <a href="">Read more</a> -->
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        v-if="artistInfo.interview"
        class="artist-page__inter"
        data-scroll-anchor="inteview"
      >
        <div class="artist-page__inter__title">Interview</div>
        <div class="artist-page__inter__content">
          <Video
            :cover="artistInfo.interview.cover"
            :code="artistInfo.interview.video_code"
          ></Video>
        </div>
      </div>

      <div
        :class="{ 'artist-page__ex': true, '--all': allExhibitions }"
        data-scroll-anchor="exh"
      >
        <div class="artist-page__ex__title">
          {{ "EXHIBITIONS" }}
        </div>
        <ul class="artist-page__ex__list no-style">
          <li v-for="(ex, index) of artistInfo.exhibitions" :key="index">
            {{ ex.name }}
            <span class="_year">{{ ex.year }}</span>
          </li>
        </ul>
        <div v-if="!allExhibitions" class="artist-page__ex__more">
          <span class="btn" @click="showAllExhibitions()">All Exhibitions</span>
        </div>
      </div>
    </div>
    <Transition name="fade">
      <div v-if="activePainting != null" class="painting-info">
        <div class="painting-info__left">
          <div class="painting-info__left__artist-name">
            {{ artistInfo.name }}
          </div>
          <div class="painting-info__left__title">
            {{ paintingInfo.name }}
          </div>
          <div class="painting-info__left__params">
            {{ paintingInfo.params }}<br />
            {{ Intl.NumberFormat("ru").format(paintingInfo.price) }} rub
          </div>
          <div class="painting-info__left__exh-info">
            {{ exhInfo(paintingInfo.exh).releasePart }}
          </div>
          <div class="painting-info__left__exh-link">
            <router-link :to="`/exhibitions/${paintingInfo.exh}`"
              >Exhibition page</router-link
            >
          </div>
        </div>
        <div class="painting-info__right">
          <img
            class="painting-info__right__img"
            :src="
              require(`@/assets/samples/paints/paint-${activePainting - 1}.jpg`)
            "
            alt=""
          />
          <div class="painting-info__right__nav">
            <sliderNav
              :blockSliderArrows="blockSliderArrows"
              @moveLeft="changePaintingInfo('left')"
              @moveRight="changePaintingInfo('right')"
              :itemsQty="paints.length"
              :rightNavNum="rightNavNum"
              :leftNavNum="leftNavNum"
              :marginLeft="380"
            ></sliderNav>
          </div>
        </div>
        <span class="close-button" @click="activePainting = null"></span>
      </div>
    </Transition>
  </div>
</template>

<script>
import sliderNav from "@/components/SliderNav.vue"
import Video from "@/components/VideoCover.vue"

export default {
  name: "ArtistView",
  components: { sliderNav, Video },
  props: {
    artist: Object,
  },
  data() {
    return {
      allExhibitions: false,
      activePainting: null,

      blockSliderArrows: false,
      currentSlideNum: 1,
      slidesQty: 3,
    }
  },
  computed: {
    artistInfo() {
      return this.$store.getters.getArtistByUrl("evgeniy-malishev")
    },
    paints() {
      return this.artistInfo.paints
    },
    paintingInfo() {
      return this.paints.find((item) => {
        return item.id == this.activePainting
      })
    },
    leftNavNum() {
      return this.activePainting > 1
        ? this.activePainting - 1
        : this.paints.length
    },
    rightNavNum() {
      return this.activePainting < this.paints.length
        ? this.activePainting + 1
        : 1
    },
  },
  methods: {
    exhInfo(id) {
      return this.$store.getters.getExhibitionById(id)
    },
    changePaintingInfo(direction) {
      if (direction == "left") {
        this.activePainting--
        if (this.activePainting < 1) this.activePainting = this.paints.length
      } else if (direction == "right") {
        this.activePainting++
        if (this.activePainting > this.paints.length) this.activePainting = 1
      }
    },
    openPaintingInfo(id) {
      this.activePainting = id
    },
    showAllExhibitions() {
      this.allExhibitions = true
    },
    scrollToBlock(blockName) {
      let correction = { bio: -20, exh: 0, works: 0 }
      console.log(
        correction[blockName] +
          this.findPosition(
            document.querySelectorAll(
              '[data-scroll-anchor="' + blockName + '"]',
            )[0],
          ),
      )
      window.scroll({
        top:
          correction[blockName] +
          parseInt(
            this.findPosition(
              document.querySelectorAll(
                '[data-scroll-anchor="' + blockName + '"]',
              )[0],
            ),
          ),
        left: 0,
        behavior: "smooth",
      })
    },
    findPosition(obj) {
      var currenttop = 0
      if (obj.offsetParent) {
        do {
          currenttop += obj.offsetTop
        } while ((obj = obj.offsetParent))
        return [currenttop]
      }
    },
  },
}
</script>
