<template>
  <div class="catalogue-wrap">
    <div class="header-after">
      Here are the all art pieces we have in the gallery:
    </div>

    <div class="catalogue">
      <div
        v-for="(painting, index) in paints"
        :key="index"
        :class="{ catalogue__item: true }"
      >
        <div
          :class="{
            _shift: true,
            [`v-correct-${hRandom(index)}`]: painting.or == 'h',
          }"
          :style="{
            width:
              (painting.or == 'h'
                ? randomBetween(60, 100)
                : randomBetween(40, 55)) + '%',
            '--topMargin':
              '-' + (index == 4 ? '80' : randomBetween(20, 50)) + '%',
          }"
        >
          <img
            v-if="painting.id != 0"
            class="catalogue__item__img"
            v-lazy="
              require(
                `@/assets/samples/${painting.folder}/${painting.fileName}`,
              )
            "
            alt=""
          />
          <div v-if="painting.id != 0" class="catalogue__item__name">
            {{ painting.artist }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CatalogueView",
  components: {},
  computed: {
    params() {
      return this.$store.getters.params
    },
    paints() {
      let _paints = this.$store.getters.getCatalogue(true)
      _paints.splice(1, 0, { id: 0 })
      return _paints
    },
  },
  methods: {
    randomBetween(min, max) {
      return Math.random() * (max - min) + min
    },
    hRandom(index) {
      if (
        this.paints[index - 3] != undefined &&
        this.paints[index - 3].or == "v"
      )
        return 100
      return Math.round(Math.random()) == 0 ? 100 : 40
    },
  },
}
</script>
