<template>
  <div class="contacts">
    <div class="header-after">Please visit our gallery by this address</div>
    <div class="contacts__texts">
      <div class="contacts__block-1">
        Moscow, Russia<br />
        3 Tverskaya St., The Ritz-Carlton Building<br />
        Floor -2, CUBE Moscow Space<br />
        9:00—20:00
      </div>
      <div class="contacts__block-2">
        159F GALLERY<br />
        Bolshaya Dmitrovka, 20 / 2<br />
        By appointment only: +7 926 344-38-11
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContactsView",
  components: {},
  computed: {
    params() {
      return this.$store.getters.params
    },
  },
}
</script>
