<template>
  <div class="exh-page">
    <div class="header-after header-after--ex">
      {{ exhInfo.dates }} {{ exhInfo.year }}, {{ exhInfo.place }}
    </div>
    <div class="exh-page__name">{{ exhInfo.name_h1 }}</div>

    <div class="exh-page__main-photo">
      <img :src="require('../assets/Exhibition_1.jpg')" alt="" />
    </div>

    <div class="exh-page__about">
      <div>
        <div class="exh-page__about__params">
          <div><span>Dates:</span> {{ exhInfo.dates }} {{ exhInfo.year }}</div>
          <div><span>Location:</span> {{ exhInfo.place }}</div>
          <div v-if="exhInfo.catalogue" class="_catalogue">
            <a :href="exhInfo.catalogue">Exhibition Catalogue</a>
          </div>
        </div>
        <router-link :to="`/artists/${artistInfo.url}`">
          <img class="_ava" :src="require('../assets/artist-ava.png')" />
        </router-link>
        <div class="_name">
          <div class="_mob-label">Artist:</div>
          <router-link :to="`/artists/${artistInfo.url}`">{{
            artistInfo.name
          }}</router-link>
        </div>
        <router-link class="_artist-link" :to="`/artists/${artistInfo.url}`"
          >Artist page</router-link
        >
        <div class="_cv">
          <router-link to="/artists/---">Download CV</router-link>
        </div>
      </div>
      <div>
        <div class="_text txt-content">
          <p>
            {{
              `Olaf Otto Becker’s first project, Under the Nordic Light (2005)
                  documented the dramatic landscape of Iceland.
                  His subsequent project Broken Line (2003-2006),
                  explored the effects of global warming on the coastal landscape
                  of Greenland and the glaciers that form there. The project took him on a 4000km journey along the west coast of Greenland alone in a rubber zodiac raft, documenting the landscape with a large format camera. The artist claims, ‘I was interested in a wild, unspoiled landscape. I was interested in a place where the landscape developed on its own.’ In this series, Becker surveys the relationship between the fragile arctic landscapes and the people who live and work there, presenting the immense architectural-like summits of the western coast of Greenland.`
            }}
          </p>
          <p>
            {{
              `Similarly, his following project, Reading the Landscape continues his exploration of environmental concerns focused on ravaged rainforests and the effects of deforestation, this time over a range of Asiatic geographies – Malaysia, Borneo and Singapore. Greenland and the glaciers that form there. The project took him on a 4000km journey along the west coast of Greenland alone in a rubber zodiac raft, documenting the landscape with a large format camera. The artist claims, ‘I was interested in a wild, unspoiled landscape.`
            }}
          </p>
        </div>
      </div>
    </div>
    <div class="exh-page__how-was-it">
      <div class="exh-page__how-was-it__title">How was it</div>

      <sliderNav
        :blockSliderArrows="blockSliderArrows"
        @moveLeft="sliderLeft()"
        @moveRight="sliderRight()"
        :itemsQty="3"
        :rightNavNum="rightNavNum"
        :leftNavNum="leftNavNum"
        :margin-left="0"
      ></sliderNav>

      <div class="exh-page__how-was-it__slider">
        <agile
          ref="carousel"
          :infinite="true"
          :dots="false"
          :navButtons="false"
          :centerMode="true"
          :slidesToShow="3"
          :speed="500"
          @after-change="updateCurrentSlide($event)"
        >
          <div class="slide exh-slider-slide">
            <img :src="require('@/assets/samples/slider-slide.jpg')" />
          </div>
          <div class="slide exh-slider-slide">
            <img :src="require('@/assets/samples/paints/paint-1.jpg')" />
          </div>
          <div class="slide exh-slider-slide">
            <img :src="require('@/assets/samples/slider-slide.jpg')" />
          </div>
        </agile>
      </div>
      <div class="exh-page__mob-slider-info">
        <span>{{ currentSlideNum }}</span> of {{ 3 }}
      </div>
    </div>
  </div>
</template>

<script>
import { VueAgile } from "vue-agile"
import sliderNav from "@/components/SliderNav.vue"

export default {
  name: "ExhibitionView",
  components: { agile: VueAgile, sliderNav },
  props: {
    exhibition: Number,
  },
  data() {
    return {
      // allExhibitions: false,
      blockSliderArrows: false,
      currentSlideNum: 1,
      slidesQty: 3,
    }
  },
  computed: {
    slickOptions() {
      return {
        slidesToShow: 1,
      }
    },
    exhInfo() {
      return this.$store.getters.getExhibitionById(this.$route.params.id)
    },
    artistInfo() {
      return this.$store.getters.getArtistById(this.exhInfo.artistId)
    },
    leftNavNum() {
      return this.currentSlideNum > 1
        ? this.currentSlideNum - 1
        : this.slidesQty
    },
    rightNavNum() {
      return this.currentSlideNum < this.slidesQty
        ? this.currentSlideNum + 1
        : 1
    },
  },
  methods: {
    updateCurrentSlide(e) {
      if (window.innerWidth <= 780) this.currentSlideNum = e.currentSlide + 1
    },
    sliderLeft() {
      this.$refs.carousel.goToPrev()
      this.blockSliderArrows = true
      setTimeout(() => {
        this.blockSliderArrows = false
        this.currentSlideNum--
        if (this.currentSlideNum < 1) this.currentSlideNum = this.slidesQty
      }, 500)
    },
    sliderRight() {
      this.$refs.carousel.goToNext()
      this.blockSliderArrows = true
      setTimeout(() => {
        this.blockSliderArrows = false
        this.currentSlideNum++
        if (this.currentSlideNum > this.slidesQty) this.currentSlideNum = 1
      }, 500)
    },
  },
}
</script>
