<template>
  <div>
    <div class="header-after header-after--ex">
      Please find the exhibitions which we made previously
    </div>
    <div class="exhibitions">
      <div class="exhibitions__item">
        <router-link to="/exhibitions/1">
          <img
            class="exhibitions__item__img"
            :src="require('../assets/Exhibition_1.jpg')"
            alt=""
          />
          <div class="exhibitions__item__title">
            EUGENIY MALISHEV<br />
            1—30 Sep 2022
          </div>
        </router-link>
      </div>
      <div class="exhibitions__item">
        <router-link to="/exhibitions/2">
          <img
            class="exhibitions__item__img"
            :src="require('../assets/Exhibition_1.jpg')"
            alt=""
          />
          <div class="exhibitions__item__title">
            EUGENIY MALISHEV<br />
            1—30 Sep 2022
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ExhibitionsView",
  components: {},
  computed: {
    params() {
      console.log(this.$store.getters.params)
      return this.$store.getters.params
    },
  },
}
</script>
