<template>
  <div>
    <div class="header-after">
      CURRENT EXHIBITION<br />
      1 Sen — 1 Dec 2023
    </div>
    <div class="index-title">
      WES ANDERSON, <span>ASTEROID CITY EXHIBITION</span>
    </div>
    <div class="index-slider"></div>
    <div class="index-ex-text">
      {{
        `Wes Anderson – Asteroid City: Exhibition is the exhibition presented by Fondazione Prada in collaboration with Universal Pictures 
        International Italy on the occasion of the release of Wes Anderson's new film in Italian cinemas.`
      }}
      <a href="">Read more</a>
    </div>
  </div>

  <div class="index-artists">
    <div class="index-artists__title">Artists</div>
    <div class="index-artists__names">
      <ul class="no-style">
        <li v-for="artist in artists" :key="artist.id">
          <span class="_h" @mouseover="showArtist(artist.id)">
            {{ artist.name }}
          </span>
          <router-link :to="'/artists/' + artist.id">
            {{ artist.name }}
          </router-link>
        </li>
      </ul>
    </div>
    <div class="index-artists__art">
      <div>
        <img
          v-for="artist in artists"
          :key="artist.id"
          :src="require('../assets/art/Art_' + artist.id + '.jpg')"
          alt=""
          :class="{ hidden: artistHovered != artist.id }"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeView",
  components: {},
  data() {
    return {
      artistHovered: 1,
    }
  },
  computed: {
    artists() {
      return this.$store.state.artists
    },
  },
  methods: {
    showArtist(id) {
      this.artistHovered = id
    },
  },
}
</script>
