<template>
  <div v-show="!blockSliderArrows" class="slider-nav" ref="sliderNav">
    <div
      class="slider-nav__btn slider-nav__btn--left"
      @click="moveLeft()"
      @mousemove="arrowPosition($event, 'left')"
    >
      <div
        class="_cursor _cursor--left"
        :style="{
          left: arrowLeftPosition[0] + 'px',
          top: arrowLeftPosition[1] + 'px',
        }"
      >
        <svg
          viewBox="0 0 22 11"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g
              transform="translate(11.500000, 5.500000) scale(-1, 1) translate(-11.500000, -5.500000) translate(1.000000, 0.000000)"
              stroke="#000"
              stroke-width="0.5"
            >
              <line x1="0.61" y1="5.43" x2="20.88" y2="5.43" id="Path"></line>
              <polyline
                id="Path"
                points="16.19 0.74 20.88 5.43 16.19 10.11"
              ></polyline>
            </g>
          </g>
        </svg>
        <div>
          <span>{{ leftNavNum }}</span
          >&nbsp;of {{ itemsQty }}
        </div>
      </div>
    </div>
    <div
      class="slider-nav__btn slider-nav__btn--right"
      @click="moveRight()"
      @mousemove="arrowPosition($event, 'right')"
    >
      <div
        class="_cursor _cursor--right"
        :style="{
          left: arrowRightPosition[0] + 'px',
          top: arrowRightPosition[1] + 'px',
        }"
      >
        <div>
          <span>{{ rightNavNum }}</span
          >&nbsp;of {{ itemsQty }}
        </div>
        <svg
          viewBox="0 0 22 11"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g stroke="#000" stroke-width="0.5">
              <line x1="0.61" y1="5.43" x2="20.88" y2="5.43" id="Path"></line>
              <polyline
                id="Path"
                points="16.19 0.74 20.88 5.43 16.19 10.11"
              ></polyline>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SliderArrow",
  components: {},
  props: {
    side: String,
    itemsQty: Number,
    rightNavNum: Number,
    leftNavNum: Number,
    blockSliderArrows: Boolean,
    marginLeft: Number,
  },
  data() {
    return {
      arrowLeftPosition: [0, 0],
      arrowRightPosition: [0, 0],
    }
  },
  methods: {
    moveRight() {
      this.$emit("moveRight")
    },
    moveLeft() {
      this.$emit("moveLeft")
    },
    arrowPosition(e, side) {
      let offsets = this.$refs.sliderNav.getBoundingClientRect()
      if (side == "left") {
        let maxLeftX =
          (window.innerWidth - this.$props.marginLeft) / 2 - 40 - 85 - 20
        let newPositionX = e.screenX - 40 - this.$props.marginLeft
        console.log(maxLeftX + "/ " + newPositionX)

        this.arrowLeftPosition = [
          newPositionX < maxLeftX ? newPositionX : maxLeftX,
          e.screenY - offsets.top - 70,
        ]
      } else if (side == "right") {
        let maxLeftX = 30
        let newPositionX =
          e.screenX -
          (window.innerWidth - this.$props.marginLeft) / 2 -
          40 -
          this.$props.marginLeft
        this.arrowRightPosition = [
          newPositionX > maxLeftX ? newPositionX : maxLeftX,
          e.screenY - offsets.top - 70,
        ]
      }
    },
  },
}
</script>
