<template>
  <div
    class="video-preview"
    ref="videoCover"
    :style="{ backgroundImage: `url(${require(`@/assets/${cover}`)})` }"
    @mousemove="setArrowPosition($event)"
    @mouseleave="toggleArrow(0)"
    @mouseenter="toggleArrow(1)"
  >
    <svg
      v-if="withPlay"
      class="_play"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 7.64 15.29"
      :style="{
        left: arrowPosition[0] + 'px',
        top: arrowPosition[1] + 'px',
      }"
    >
      <polygon
        class="cls-1"
        points=".25 14.68 .25 .6 7.29 7.64 .25 14.68"
        fill="#fff"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: "VideoCover",
  components: {},
  props: {
    code: String,
    cover: String,
  },
  data() {
    return {
      arrowPosition: [0, 0],
      withPlay: false,
    }
  },
  methods: {
    setArrowPosition(e) {
      let offsets = this.$refs.videoCover.getBoundingClientRect()
      let maxLeftX = window.innerWidth - 80
      let newPositionX = e.screenX - 40 - 10

      this.arrowPosition = [
        newPositionX < maxLeftX ? newPositionX : maxLeftX,
        e.screenY - offsets.top - 140,
      ]
    },
    toggleArrow(st) {
      this.withPlay = st == 1
    },
  },
}
</script>
