<template>
  <div :class="{ 'all-wrap': true, 'white-theme': whiteTheme }">
    <Header :title="'Gallery'" />
    <router-view @artist-hover="makeWhite()" @normal-state="makeNormal()" />
    <Footer />
  </div>
</template>

<script>
import Header from "./components/Header.vue"
import Footer from "./components/Footer.vue"
export default {
  name: "App",
  components: { Header, Footer },
  data() {
    return {
      whiteTheme: false,
    }
  },
  created() {
    window.addEventListener("scroll", this.handleScroll)
  },
  computed: {
    params() {
      return this.$store.getters.getParams()
    },
  },
  methods: {
    handleScroll() {
      if (window.innerWidth <= 780) {
        // if (window.scrollY > window.innerHeight) {
        //   this.whiteTheme = false
        // } else {
        //   this.whiteTheme = true
        // }
      }
    },
    makeWhite() {
      this.whiteTheme = true
    },
    makeNormal() {
      this.whiteTheme = false
    },
  },
}
</script>
